footer {
    width:100%;
    padding: 0px;
    position: absolute;
    bottom: 0px;
}

#footer_div1 {
    position: relative;
    z-index: 2;
    padding: 60px 0 78px;
    background-color: #39352F;
}

#footer_div1_suivez_nous {
    float:left;
    /* display: inline-block; */
    width: 450px;
    padding-left: 150px;
}

#footer_div1_icons {
    padding-inline-start: 0px;
}

#footer_separateur {
    width: 100%;
    border-bottom: #FFF 1px solid;
    margin: 30px 0px;
}

.footer_li {
    display: inline-block;
    list-style: none;
}

.footer_li_a {
width: 40px;
height: 40px;
line-height: 42px;
text-align: center;
color: #fff;
font-size: 16px;
padding: 0px;
display: inline-block;
background: #1f1f1f;
}

#footer_copyrights {
    clear: both;
    background: #333333;
    width: 100%;
    padding: 18px 0px;
}

#footer_ul_cartes {
    float: right;
    padding: 0px;
    margin: 0px;
    margin-right: 150px;
}

#footer_copyrights li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    padding-left: 15px;
    height: 24px;
}

#footer_copyrights li a{
    margin: 0px;
    padding: 0px;
}
.footer_h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0px 0px 19px 0px;
}

.footer_div1_h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    margin: 0px 0px 19px 0px;
}

.footer_span {
    color: #dcdbe2;
    font-size: 15px;
}

#footer_copyright_span {
    text-transform: capitalize;
    margin-left: 150px;

}

#footer_liens_importants {
    display: inline-block;
    margin-left: 30px;
}

#footer_top_destinations {
    float:right;
    padding-left: 60px;
    padding-right: 150px;
    width: 360px;
    margin-right: -20px;
}

#footer_liens_importants_ul {
    padding-inline-start: 0px;
}

.footer_li_liens{
    list-style: none;
}

.footer_li_liens a {
    text-decoration: none;
    color: #fff;
}

.footer_li_liens a::before {
    content: ">";
    color: #fff;
    font-family: fontawesome;
}

#footer_souscrire {
    display: block;
}

.footer_li_destination {
    list-style: none;
    display: inline-block;
    height: 95px;
    width: 101px;
    padding-right: 14px;
    margin-bottom: 15px;
}

#footer_top_destinations_ul {
    padding-inline-start: 0px;
}

#footer_subscribe_input {
    padding: 0px;
    margin: 0px;
    border:none;
    padding-left: 15px;
    background-color: #39352F;
    width: 333px;
    height: 48px;
    border: 1px solid white;
}

#footer_subscribe_button {
    float:right;
    border:none;
    width: 100px;
    height: 50px;
    background-color: #F5600C;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bolder;
}